/* all web pages styles are defined here */

header {
    height: 50px;
    background: green;
}
header h3 {
    text-align: center;
    color: white;
    line-height: 2;
    margin-top: -3px;
}
.sm-btn {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    height: 32px;
    line-height: 30px;
    padding: 0 9px;
    font-size: 13px;
    border-radius: 4px;
    text-decoration: none;
    white-space: nowrap;
    text-transform: none;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-appearance: none;
    border: 1px solid;
    color: #000;
    background-color: #fff;
}
.sm-btn:hover {
    background-color: #04b9a8;
    color: white;
}
.ui-dialog[aria-describedby='addEmployeeModal'] {
    width: 60% !important;
    left: 20% !important;
    top: 10% !important;
}

#addEmployeeModal input, textarea {
    width: 200px;
}